{
    "singleQuote": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^@?react(.*)$",
        "^react-native(.*)$",
        "^@?expo(.*)$",
        "^firebase/(.*)$",
        "^@/components|contexts/(.*)$",
        "^@/services/(.*)$",
        "^@/constants|models(.*)$",
        "^@/assets/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true
}
