{
    "singleQuote": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^@?react(.*)$",
        "^react-native(.*)$",
        "^@?expo(.*)$",
        "^firebase/(.*)$",
        "^@?tanstack/(.*)$",
        "^@?gorhom/(.*)$",
        "^@/components|contexts/(.*)$",
        "^@/services|queries|utils(.*)$",
        "^@/constants|models(.*)$",
        "^@/assets/(.*)$",
        "^.*"
    ],
    "importOrderSeparation": true
}
